@import "tailwindcss";

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-rajdhani), sans-serif;
  @apply bg-black text-white antialiased;
  padding-top: var(--navbar-height);
}

:root {
  --primary-rgb: 0, 255, 180;
  --default-background: rgba(15, 30, 26, .5);
  --navbar-height: 72px;
}

/* Global content container */
.container-80 {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/* ============================= */
/* CUSTOM SCROLLBAR */
/* ============================= */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    to bottom,
    rgba(15, 47, 40, 0.9),
    rgba(11, 42, 35, 0.9)
  );
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgba(0, 255, 180, 0.45),
    rgba(0, 255, 180, 0.25)
  );
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    rgba(0, 255, 180, 0.6),
    rgba(0, 255, 180, 0.35)
  );
}